@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Karla:wght@300;400;500;600;700&display=swap');

$colors: (
    primary: hsl(193 100% 31%),
    light: hsl(183 55% 40%),
    gray: hsl(0 0% 16%)
);

$font-family: (
    serif: ('Gloock', serif),
    sans: ('Karla', sans-serif)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

@function family($font) {
    @return map-get($font-family, $font)
};

:root {
    /* font sizes */

    --fs-400: 0.75rem;
    --fs-500: 1rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2rem;

    @media (min-width: 575px) {
        --fs-500: clamp(.9rem, 1vw + .5rem, 1.1rem);
        --fs-600: 2rem;
        --fs-700: 3rem;
        --fs-800: clamp(2rem, 4vw + 1rem, 4.25rem);
    }

    @media (min-width: 950px) {
        --fs-400: 1rem;
        --fs-600: 2.5rem;
    }
   
};

/* HARD RESET */

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3, 
h4,
p {
    margin: 0;
    font-weight: 400;
}

body {
    font-family: family(sans);
    font-size: size(400);
    background-color: #F9F9F9;
    color: color(gray);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* UTILITY CLASSES */

.wrapper-inline {
    margin-inline: 2em;
    max-width: 95%;
}

.wrapper-block {
    padding-block: 2em;

    @media (min-width: 575px) {
        padding-block: 5em;
    }
    
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.block-mobile {
    display: block;

    @media (min-width: 575px) {
        display: inline-block;
    }

}

.primary-btn {
    margin-bottom: .75em;
    padding: .5em 1.5em;
    font-weight: bold;
    transition: .3s;

    &.filled-btn {
        background-color: color(light);
        border: 2px solid color(light);
        color: white;
    }

    &.white-btn {
        background-color: #F9F9F9;
        border: 2px solid color(light);
        color: color(light);
        z-index: 1;
    }

    &:hover,
    &:focus {
        background-color: color(primary);
        border: 2px solid color(primary);
        color: white;
    }

    @media (min-width: 950px) {
        padding-inline: clamp(1.5rem, 1vw + 1rem, 3rem);
        max-height: 2.75em;
    }
}

.flow > *:where(:not(:first-child)) {
    margin-top: .75rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* colors */

.text-primary { color: color(primary); }
.text-light { color: color(light); }
.text-gray { color: color(gray); }

/* typography */

.ff-serif { font-family: family(serif); }
.ff-sans { font-family: family(sans); }

.letter-spacing-1 { letter-spacing: 2px; }
.letter-spacing-2 { letter-spacing: 2.7px; }
.letter-spacing-3 { letter-spacing: 4.75px; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: none; }

.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-600 { font-size: var(--fs-600); }
.fs-700 { font-size: var(--fs-700); line-height: 1.25em; }
.fs-800 { font-size: var(--fs-800); line-height: 1.25em; }

/* Components */

/* Primary Header */

.navbar {
    position: fixed;
    padding: 2em 1.5rem 0;
    width: 100vw;
    z-index: 10;
    top: 0;

    &.flex {
        align-content: center;

        @media (min-width: 575px) {
            justify-content: space-between;
            align-items: center;
        }
    }

    .logo {
        display: inline-block;
        width: 1.25rem;
        aspect-ratio: 1;
    }

    @media (min-width: 575px) {
        position: unset;
        margin-block: 2em;
        padding: 0 2em;
        width: unset;
    }

    @media (min-width: 950px) {
        margin: 3em 5.5em;
        padding: 0;
        

        .logo {
            width: 2rem;
        }
    }
}

.mobile-navigation-btn {
    display: block;
    position: fixed;
    z-index: 3;
    top: 1.75rem;
    right: 1.5rem;
    background: transparent;
    background-image: url("../images/nav/icon-hamburger.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.5rem;
    border: none;
    cursor: pointer;
    aspect-ratio: 1;

    @media (min-width: 575px) {
        display: none;
    }
}

.change-bg {
    background-image: url("../images/nav/icon-close.png");
}

.scroll-btn {
    top: 0.2rem;
}


.primary-navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    opacity: 0;

    z-index: 2;
    width: 77%;
    height: 100vh;
    top: 0;
    right: 0;
    margin: 0;

    background: color(primary);

    transform: translateX(100%);
    transition: all 1s;

    ul {
       margin-block: 5em;
       margin-inline: clamp(1em, 10vw + 1rem, 10em);

       li {
            padding-block: 2em;

            a {
                color: white;
                padding-bottom: .5em;
                transition: .3s;
        
                &:hover,
                &:focus {
                    border-bottom: 2px solid #FFF;
                }

                @media (min-width: 575px) {
                    color: color(gray);

                    &:hover,
                    &:focus {
                        border-bottom: 2px solid color(light);
                    }
                }
            }
       }

        @media (min-width: 575px) {
            display: flex;
            margin: 0;

            li {
                padding-block: 0;
                padding-left: clamp(.5em, 2vw + .5em, 2em);
            }
        }

        @media (min-width: 950px) {
            li {
                padding-left: clamp(2em, 3vw + 1em, 4em);
            }
        }
    }

    @media (min-width: 575px) {
        position: unset;
        z-index: 0;
        background: none;
        flex-direction: row;
        height: auto;
        width: auto;
        transform: none;
        opacity: 1;
    }
}

.nav-transform {
    transform: translateX(0);
    opacity: 1;
}

.scroll-bg {
    background-color: #F9F9F9;
    padding: 0.5em 1.5em;
    z-index: 5;
    transition: 0.3s;
}

.nav-btn {
    padding: .5em;
    font-weight: bold;
    letter-spacing: 2.7px;
    border: 1px solid white;
    transition: .3s;

    &:hover,
    &:focus {
        color: color(primary);
        background-color: white;
        font-weight: bold;
    }

    @media (min-width: 575px) {
        color: white !important;
        background-color: color(light);
        padding: .5em .75em;
        font-weight: normal;
        letter-spacing: 2px;

        &:hover,
        &:focus {
            color: white;
            font-weight: normal;
            background-color: color(primary);
            border-bottom: 0px !important;
        }
    }
}

.lang {
    position: absolute;
    bottom: 3em;
    right: 40%;
    
    [aria-selected="false"] {
        color: white;
    }

    a {
        font-weight: bold;
        transition: .3s;

        &:hover,
        &:focus {
            color: hsl(0 0% 16% / .5);
        }
    }

    @media (min-width: 575px) {
        top: .5vw;
        right: 1vw;
        bottom: unset;

        [aria-selected="false"] {
            color: hsl(0 0% 16% / .7);
        }

        a.lang-btn {
            font-weight: normal;
        }

    }

    @media (min-width: 950px) {
        top: .75vw;
    }
 
}

/* Background */

.bg-box {
    position: absolute;
    background-color: hsl(183 55% 40% / .1);
    height: 100vh;
    width: 30vw;
    top: 0;
    z-index: -1;

    @media (min-width: 575px) {
        width: 40vw;
    }

    @media (min-width: 1000px) {
        height: 90vh;
    }
}

.portfolio {
    background-image: url("../images/bg/bg-portfolio-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-position: left;

    @media (min-width: 950px) {
        background-image: url("../images/bg/bg-portfolio-desktop.png");
    }
}

footer {
    background-color: hsl(193 100% 31% / .25);

    @media (min-width: 600px) and (max-width: 1000px) {
        background: linear-gradient(to right, #F9F9F9 50%, hsl(193 100% 31% / .25) 0%)
    }
}

.section-divider {
    background-color: #f9f9f9;
    height: 5em;

    @media (min-width: 600px) {
        height: 10em;
    }
    
    // @media (min-width: 1000px) {
    //     background-color: hsl(183 55% 40% / .1);
    // }

}


/* Hero Section */

.hero {
    display: grid;
    grid-template-areas:
        'title'
        'buttons'
        'image';
    row-gap: 1em;
    max-height: 90vh;
    min-width: 80vw;
    max-width: 20em;
    margin-top: 15vh;

    @media (min-width: 450px) {
        grid-template-areas: 
            '.'
            'title'
            'image'
            'buttons'
            '.';
        place-content: center;
        row-gap: 1.5em;
        height: auto;
        max-height: 90vh;
        max-width: unset;
        margin-top: 10vh;
    }

    @media (min-width: 575px) {
        margin-top: 0;
    }

    @media (min-width: 950px) {
        height: 85vh;
        grid-template-areas:
            '. title image .'
            '. buttons image .';
        grid-template-columns: minmax(4rem, 1fr) minmax(0, 40em) minmax(0, 25em) minmax(4rem, 1fr);
        row-gap: 2em;

        &.wrapper {
            margin-block: 0;
            margin-inline: min(1.5em, 7vw);
            max-width: unset;
        }
    }
}

.hero-title {
    grid-area: title;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 2%;
        left: -5%;
        width: 150px;
        height: 7px;
        background-color: hsl(0 0% 16% / .15);
        opacity: 0;

        @media (min-width: 450px) {
            left: 20%;
            bottom: 3%;
            width: 225px;
        }

        @media (min-width: 950px) {
            left: -10%;
            height: 10px;
            width: 300px;
        }
    }

    @media (min-width: 450px) {
        text-align: center;
    }

    @media (min-width: 950px) {
        text-align: left;
    }
}

.hero-btns {
    grid-area: buttons;
    display: grid;
    place-content: left;
    width: fit-content;

    @media (min-width: 450px) {
        display: flex;
        justify-content: center;
        width: auto;
        gap: 1em;
    }

    @media (min-width: 950px) {
        justify-content: left;
        gap: 1.5em;
    }
}

.hero-images {
    grid-area: image;
    position: relative;
    height: 30vh;

    @media (min-width: 450px) {
        display: grid;
        place-items: center;
        height: unset;
    }

    .hero-name-img,
    .hero-square-img {
        position: absolute;
        width: 15em;
        right: 0;
        top: -4em;

        @media (min-width: 450px) {
            width: 50%;
            top: unset;
            right: unset;
        }

        @media (min-width: 950px) {
            width: 100%;
        }
    }

    .hero-name-img {
        z-index: 0;

        @media (min-width: 450px) {
            position: relative;
        }
    }

    .hero-square-img {
        z-index: -1;

        @media (min-width: 450px) {
            right: 25%;
        }

        @media (min-width: 950px) {
            right: 5%;
        }
    } 
}

/* Portfolio Section */

.portfolio .grid {
    place-items: center;
    gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-areas:
        'title'
        'card1'
        'card2';
    padding-block: 3em;
    
    .card.one {
        grid-area: card1;
    }

    .card.two {
        grid-area: card2;
    }

    @media (min-width: 700px) {
        grid-template-areas: 
            '. .'
            'title card1'
            'card2 card1'
            'card2 .';   
        
    }

    @media (min-width: 1100px) {
        grid-template-areas: 
            '. title title .'
            '. card1 card2 .';
        grid-template-columns: minmax(4rem, 1fr) minmax(0, 40em) minmax(0, 40em) minmax(4rem, 1fr);
        column-gap: 2em;  
        padding-block: 6em;
    }
}

.portfolio-title {
    grid-area: title;
    text-align: center;
    max-width: 70vw; 

    p {
        line-height: 1.5rem;
        padding-block: 1.5em;
        margin-top: 1.5em;
        border-top: 2px solid color(primary);
    }
   
    @media (min-width: 1100px) {
        width: 50vw;

        p {
            padding-block: 2em;
            margin-top: 2em;
        }
    }
}

.cube-img {
    width: 1em;

    @media (min-width: 575px) {
        width: 1.5em;
    }
}

.card {
    display: grid;
    place-content: center;
    grid-gap: 1em;
    border: 2px solid color(primary);
    padding: 2em 1.5em;

    @media (min-width: 575px) {
        max-width: 70vw;
    }

    .card-img {
        border: 1.5px solid color(light);
        width: auto;
    }

    .card-title {
        font-weight: bold;
    }

    .card-title,
    .card-desc {
        text-align: center;
    }

    .dom-names {
        display: flex;
        justify-content: center;
    
        p {
        display: inline-block;
        padding: .5em;
        margin-inline: .5em;
        border: 1px solid color(gray);
        }
    }

    .portfolio-cta {
        display: flex;
        justify-content: right;
        gap: 1em;
        transition: .3s;
        
        img {
            width: 1em;
        }

        &:hover,
        &:focus {
            text-decoration: underline color(primary);
        }
    }

    @media (min-width: 575px) {
        width: auto;
    }
}

/* Profile Section */

.profile .grid {
    grid-template-areas: 
        'box info'
        'list image';
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 40vh;
    // margin-top: 5em;

    @media (min-width: 600px) {
        grid-template-areas: 
            'image info'
            'image list' ;
        grid-template-rows: 35vh 35vh;

        &::before {
            content: '';
            background-color: hsl(183 55% 40% / .1);
            grid-row: 1;
            grid-column: 1;
        }

        &::after {
            content: '';
            background-color: hsl(183 55% 40% / .1);
            grid-row: 2;
            grid-column: 1;
        }
    }

    @media (min-width: 1000px) {
        grid-template-columns: 40vw 60vw;

        &::before {
            grid-row: 1;
            grid-column: 2;
        }

        &::after {
            grid-row: 2;
            grid-column: 2;
        }
    }
}

.box {
    grid-area: box;
    background-color: hsl(183 55% 40% / .1);
}

.profile-info {
    grid-area: info;
    position: relative;
    left: -10vw;
    align-self: center;

    .contact-cta {
        margin-top: 2em;
    }

    .profile-info1,
    .profile-info2 {
        line-height: 1.5em;
    }

    @media (min-width: 600px) {
        display: grid;
        left: 0;
        align-self: end;
        justify-self: center;
        padding-inline: 2em;
    }

    @media (min-width: 1000px) {
        width: 50vw;
        padding-inline: 0;
    }
}

.profile-list {
    grid-area: list;
    position: relative;
    justify-self: center;
    align-self: center;
    top: -5vh;

    ul {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 100%;
            background-color: hsl(0 0% 16% / .15);
            z-index: 1;
            top: 0;
            left: -30%;
        }

        li {
            padding-bottom: 1em;
            font-weight: bold;

            .icon {
                width: 2em;
            }
        }

        @media (min-width: 600px) {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            gap: .5em;
  
            &::after {
                left: -15%;
            }
        }

        @media (min-width: 1000px) {
            display: flex;
            gap: 1em;

            &::after {
                height: 10px;
                width: 80%;
                left: 0;
                top: 80%;
            }
        }
    }

    @media (min-width: 600px) {
        top: 0;
        align-self: start;
        justify-self: center;
        padding-block: 2em;
    }

    @media (min-width: 1000px) {
        width: 50vw;
    }
    
}

.profile-img {
    grid-area: image;
    position: relative;
    left: -10vw;
    top: -1.5vh;

    @media (min-width: 600px) {
        left: 0;
        top: 0;
        align-self: center;
        justify-self: center;
        padding-inline: 3em;

        img {
            width: auto;
        }
    }

}

/* FOOTER */

footer .grid {
    place-items: center;

    @media (min-width: 1000px) {
        h1 {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 80%;
                height: 10px;
                background-color: hsl(0 0% 16% / .15);
                top: -40%;
                left: 10%;
            }
        }
    }

    a {
        margin-top: 1.5em;
    }
}



