@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Karla:wght@300;400;500;600;700&display=swap");
:root {
  /* font sizes */
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2rem;
}
@media (min-width: 575px) {
  :root {
    --fs-500: clamp(.9rem, 1vw + .5rem, 1.1rem);
    --fs-600: 2rem;
    --fs-700: 3rem;
    --fs-800: clamp(2rem, 4vw + 1rem, 4.25rem);
  }
}
@media (min-width: 950px) {
  :root {
    --fs-400: 1rem;
    --fs-600: 2.5rem;
  }
}

/* HARD RESET */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-size: var(--fs-400);
  background-color: #F9F9F9;
  color: hsl(0, 0%, 16%);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.skip-cta {
  position: absolute;
  z-index: 15;
  top: 0;
  background-color: hsl(193, 100%, 31%);
  color: white;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in;
}
.skip-cta:focus {
  transform: translateY(0);
}

/* UTILITY CLASSES */
.wrapper-inline {
  margin-inline: 2em;
  max-width: 95%;
}

.wrapper-block {
  padding-block: 2em;
}
@media (min-width: 575px) {
  .wrapper-block {
    padding-block: 5em;
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.fit-content {
  width: -moz-fit-content;
  width: fit-content;
}

.primary-btn {
  margin-bottom: 0.75em;
  padding: 0.5em 1.5em;
  font-weight: bold;
  transition: 0.3s;
}
.primary-btn.filled-btn {
  background-color: hsl(183, 55%, 40%);
  border: 2px solid hsl(183, 55%, 40%);
  color: white;
}
.primary-btn.white-btn {
  background-color: #F9F9F9;
  border: 2px solid hsl(183, 55%, 40%);
  color: hsl(183, 55%, 40%);
  z-index: 1;
}
.primary-btn:hover, .primary-btn:focus {
  background-color: hsl(193, 100%, 31%);
  border: 2px solid hsl(193, 100%, 31%);
  color: white;
}
@media (min-width: 950px) {
  .primary-btn {
    padding-inline: clamp(1.5rem, 1vw + 1rem, 3rem);
    max-height: 2.75em;
  }
}

.flow > *:where(:not(:first-child)) {
  margin-top: 0.75rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* colors */
.text-primary {
  color: hsl(193, 100%, 31%);
}

.text-light {
  color: hsl(183, 55%, 40%);
}

.text-gray {
  color: hsl(0, 0%, 16%);
}

/* typography */
.ff-serif {
  font-family: "Gloock", serif;
}

.ff-sans {
  font-family: "Karla", sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 2px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 4.75px;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: none;
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
  line-height: 1.25em;
}

.fs-800 {
  font-size: var(--fs-800);
  line-height: 1.25em;
}

/* Components */
/* Primary Header */
.navbar {
  position: fixed;
  padding: 2em 1.5rem 0;
  width: 100vw;
  z-index: 10;
  top: 0;
}
.navbar.flex {
  align-content: center;
}
@media (min-width: 575px) {
  .navbar.flex {
    justify-content: space-between;
    align-items: center;
  }
}
.navbar .logo {
  display: inline-block;
  width: 1.25rem;
  aspect-ratio: 1;
}
@media (min-width: 575px) {
  .navbar {
    position: unset;
    margin-block: 2em;
    padding: 0 2em;
    width: unset;
  }
}
@media (min-width: 950px) {
  .navbar {
    margin: 3em 5.5em;
    padding: 0;
  }
  .navbar .logo {
    width: 2rem;
  }
}

.mobile-navigation-btn {
  display: block;
  position: fixed;
  z-index: 3;
  top: 1.25rem;
  right: 1.5rem;
  background: transparent;
  background-image: url("../images/nav/icon-hamburger.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.5rem;
  border: none;
  cursor: pointer;
  aspect-ratio: 1;
}
@media (min-width: 575px) {
  .mobile-navigation-btn {
    display: none;
  }
}

.change-bg {
  background-image: url("../images/nav/icon-close.png");
}

.scroll-btn {
  top: 0.2rem;
}

.primary-navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  opacity: 0;
  z-index: 2;
  width: 77%;
  height: 100vh;
  top: 0;
  right: 0;
  margin: 0;
  background: hsl(193, 100%, 31%);
  transform: translateX(100%);
  transition: all 1s;
}
.primary-navigation ul {
  margin-block: 5em;
  margin-inline: clamp(1em, 10vw + 1rem, 10em);
}
.primary-navigation ul li {
  padding-block: 2em;
}
.primary-navigation ul li a {
  color: white;
  padding-bottom: 0.5em;
  transition: 0.3s;
}
.primary-navigation ul li a:hover, .primary-navigation ul li a:focus {
  border-bottom: 2px solid #FFF;
}
@media (min-width: 575px) {
  .primary-navigation ul li a {
    color: hsl(0, 0%, 16%);
  }
  .primary-navigation ul li a:hover, .primary-navigation ul li a:focus {
    border-bottom: 2px solid hsl(183, 55%, 40%);
  }
}
@media (min-width: 575px) {
  .primary-navigation ul {
    display: flex;
    margin: 0;
  }
  .primary-navigation ul li {
    padding-block: 0;
    padding-left: clamp(0.5em, 2vw + 0.5em, 2em);
  }
}
@media (min-width: 950px) {
  .primary-navigation ul li {
    padding-left: clamp(2em, 3vw + 1em, 4em);
  }
}
@media (min-width: 575px) {
  .primary-navigation {
    position: unset;
    z-index: 0;
    background: none;
    flex-direction: row;
    height: auto;
    width: auto;
    transform: none;
    opacity: 1;
  }
}

.nav-transform {
  transform: translateX(0);
  opacity: 1;
}

.scroll-bg {
  background-color: #F9F9F9;
  padding: 0.5em 1.5em;
  z-index: 5;
  transition: 0.3s;
}

.nav-btn {
  padding: 0.5em;
  font-weight: bold;
  letter-spacing: 2.7px;
  border: 1px solid white;
  transition: 0.3s;
}
.nav-btn:hover, .nav-btn:focus {
  color: hsl(193, 100%, 31%);
  background-color: white;
  font-weight: bold;
}
@media (min-width: 575px) {
  .nav-btn {
    color: white !important;
    background-color: hsl(183, 55%, 40%);
    padding: 0.5em 0.75em;
    font-weight: normal;
    letter-spacing: 2px;
  }
  .nav-btn:hover, .nav-btn:focus {
    color: white;
    font-weight: normal;
    background-color: hsl(193, 100%, 31%);
    border-bottom: 0px !important;
  }
}

.lang {
  position: absolute;
  bottom: 20vh;
  right: 40%;
}
.lang [aria-selected=false] {
  color: white;
}
.lang a {
  font-weight: bold;
  transition: 0.3s;
}
.lang a:hover, .lang a:focus {
  color: hsla(0, 0%, 16%, 0.5);
}
@media (min-width: 575px) {
  .lang {
    top: 0.5vw;
    right: 1vw;
    bottom: unset;
  }
  .lang [aria-selected=false] {
    color: hsla(0, 0%, 16%, 0.7);
  }
  .lang a.lang-btn {
    font-weight: normal;
  }
}
@media (min-width: 950px) {
  .lang {
    top: 0.75vw;
  }
}

/* Background */
.bg-box {
  position: absolute;
  background-color: hsla(183, 55%, 40%, 0.1);
  height: 100vh;
  width: 30vw;
  top: 0;
  z-index: -1;
}
@media (min-width: 575px) {
  .bg-box {
    width: 40vw;
  }
}
@media (min-width: 1000px) {
  .bg-box {
    height: 90vh;
  }
}

.portfolio {
  background-image: url("../images/bg/bg-portfolio-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  background-position: left;
}
@media (min-width: 950px) {
  .portfolio {
    background-image: url("../images/bg/bg-portfolio-desktop.png");
  }
}

footer {
  background-color: hsla(193, 100%, 31%, 0.25);
}
@media (min-width: 600px) and (max-width: 1000px) {
  footer {
    background: linear-gradient(to right, #F9F9F9 50%, hsla(193, 100%, 31%, 0.25) 0%);
  }
}

.section-divider {
  height: 5em;
}
@media (min-width: 600px) {
  .section-divider {
    height: 7em;
  }
}

/* Hero Section */
.hero {
  display: grid;
  grid-template-areas: "title" "buttons" "image";
  row-gap: 1em;
  max-height: 90vh;
  min-width: 80vw;
  max-width: 20em;
  margin-top: 15vh;
}
@media (min-width: 450px) {
  .hero {
    grid-template-areas: "." "title" "image" "buttons" ".";
    place-content: center;
    row-gap: 1.5em;
    height: auto;
    max-height: 90vh;
    max-width: unset;
    margin-top: 10vh;
  }
}
@media (min-width: 575px) {
  .hero {
    margin-top: 0;
  }
}
@media (min-width: 950px) {
  .hero {
    height: 85vh;
    grid-template-areas: ". title image ." ". buttons image .";
    grid-template-columns: minmax(4rem, 1fr) minmax(0, 40em) minmax(0, 25em) minmax(4rem, 1fr);
    row-gap: 2em;
  }
  .hero.wrapper {
    margin-block: 0;
    margin-inline: min(1.5em, 7vw);
    max-width: unset;
  }
}

.hero-title {
  grid-area: title;
  position: relative;
}
.hero-title:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 2%;
  left: -5%;
  width: 150px;
  height: 7px;
  background-color: hsla(0, 0%, 16%, 0.15);
  opacity: 0;
}
@media (min-width: 450px) {
  .hero-title:after {
    left: 20%;
    bottom: 3%;
    width: 225px;
  }
}
@media (min-width: 950px) {
  .hero-title:after {
    left: -10%;
    height: 10px;
    width: 300px;
  }
}
@media (min-width: 450px) {
  .hero-title {
    text-align: center;
  }
}
@media (min-width: 950px) {
  .hero-title {
    text-align: left;
  }
}

.hero-btns {
  grid-area: buttons;
  display: grid;
  place-content: left;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 450px) {
  .hero-btns {
    display: flex;
    justify-content: center;
    width: auto;
    gap: 1em;
  }
}
@media (min-width: 950px) {
  .hero-btns {
    justify-content: left;
    gap: 1.5em;
  }
}

.hero-images {
  grid-area: image;
  position: relative;
  height: 30vh;
}
@media (min-width: 450px) {
  .hero-images {
    display: grid;
    place-items: center;
    height: unset;
  }
}
.hero-images .hero-name-img,
.hero-images .hero-square-img {
  position: absolute;
  width: 18em;
  right: 0;
  top: -4em;
}
@media (min-width: 450px) {
  .hero-images .hero-name-img,
  .hero-images .hero-square-img {
    width: 50%;
    top: unset;
    right: unset;
  }
}
@media (min-width: 950px) {
  .hero-images .hero-name-img,
  .hero-images .hero-square-img {
    width: 100%;
  }
}
.hero-images .hero-name-img {
  z-index: 0;
}
@media (min-width: 450px) {
  .hero-images .hero-name-img {
    position: relative;
  }
}
.hero-images .hero-square-img {
  z-index: -1;
}
@media (min-width: 450px) {
  .hero-images .hero-square-img {
    right: 25%;
  }
}
@media (min-width: 950px) {
  .hero-images .hero-square-img {
    right: 5%;
  }
}

/* Portfolio Section */
.portfolio .grid {
  place-items: center;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas: "title" "card1" "card2" "card3";
  padding-block: 3em;
}
.portfolio .grid .card a img:hover,
.portfolio .grid .card a img:focus {
  transform: scale(1.05);
  transition: 0.3s;
}
.portfolio .grid .card.one {
  grid-area: card1;
}
.portfolio .grid .card.two {
  grid-area: card2;
}
.portfolio .grid .card.three {
  grid-area: card3;
}
@media (min-width: 700px) {
  .portfolio .grid {
    grid-template-areas: ". ." "title card1" "card2 card1" "card2 card3" ". card3";
  }
}
@media (min-width: 1100px) {
  .portfolio .grid {
    grid-template-areas: ". title title ." ". card1 card2 ." ". card3 . .";
    grid-template-columns: minmax(4rem, 1fr) minmax(0, 40em) minmax(0, 40em) minmax(4rem, 1fr);
    -moz-column-gap: 2em;
         column-gap: 2em;
    padding-block: 6em;
    align-items: start;
  }
}

.portfolio-title {
  grid-area: title;
  text-align: center;
  max-width: 70vw;
}
.portfolio-title p {
  line-height: 1.5rem;
  padding-block: 1.5em;
  margin-top: 1.5em;
  border-top: 2px solid hsl(193, 100%, 31%);
}
@media (min-width: 1100px) {
  .portfolio-title {
    width: 50vw;
  }
  .portfolio-title p {
    padding-block: 2em;
    margin-top: 2em;
  }
}

.cube-img {
  width: 1em;
}
@media (min-width: 575px) {
  .cube-img {
    width: 1.5em;
  }
}

.card {
  display: grid;
  grid-gap: 0.5em;
  justify-items: start;
  align-items: start;
}
@media (min-width: 575px) {
  .card {
    max-width: 70vw;
  }
}
.card .card-img {
  border: 1px solid hsl(183, 55%, 40%);
  width: auto;
}
.card .card-title {
  font-weight: bold;
  text-align: center;
}
.card .card-desc {
  text-align: left;
}
.card .dom-names {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}
.card .dom-names p {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid hsl(0, 0%, 16%);
}
.card .portfolio-cta {
  display: flex;
  justify-content: right;
  gap: 1em;
  transition: 0.3s;
}
.card .portfolio-cta img {
  width: 1em;
}
.card .portfolio-cta:hover, .card .portfolio-cta:focus {
  -webkit-text-decoration: underline hsl(193, 100%, 31%);
          text-decoration: underline hsl(193, 100%, 31%);
}
@media (min-width: 575px) {
  .card {
    width: auto;
  }
}

/* Profile Section */
.profile .grid {
  grid-template-areas: "box info" "list image";
  grid-template-columns: 50% 50%;
  grid-template-rows: 60vh 40vh;
}
@media (min-width: 600px) {
  .profile .grid {
    grid-template-areas: "image info" "image list";
    grid-template-rows: 35vh 35vh;
  }
  .profile .grid::before {
    content: "";
    background-color: hsla(183, 55%, 40%, 0.1);
    grid-row: 1;
    grid-column: 1;
  }
  .profile .grid::after {
    content: "";
    background-color: hsla(183, 55%, 40%, 0.1);
    grid-row: 2;
    grid-column: 1;
  }
}
@media (min-width: 1000px) {
  .profile .grid {
    grid-template-columns: 40vw 60vw;
  }
  .profile .grid::before {
    grid-row: 1;
    grid-column: 2;
  }
  .profile .grid::after {
    grid-row: 2;
    grid-column: 2;
  }
}

.box {
  grid-area: box;
  background-color: hsla(183, 55%, 40%, 0.1);
}

.profile-info {
  grid-area: info;
  position: relative;
  left: -10vw;
  align-self: center;
}
.profile-info .contact-cta {
  margin-top: 2em;
}
.profile-info .profile-info1,
.profile-info .profile-info2 {
  line-height: 1.5em;
}
@media (min-width: 600px) {
  .profile-info {
    display: grid;
    left: 0;
    align-self: end;
    justify-self: center;
    padding-inline: 2em;
  }
}
@media (min-width: 1000px) {
  .profile-info {
    width: 50vw;
    padding-inline: 0;
  }
}

.profile-list {
  grid-area: list;
  position: relative;
  justify-self: center;
  align-self: center;
  top: -5vh;
}
.profile-list ul {
  position: relative;
}
.profile-list ul::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: hsla(0, 0%, 16%, 0.15);
  z-index: 1;
  top: 0;
  left: -30%;
}
.profile-list ul li {
  padding-bottom: 1em;
  font-weight: bold;
}
.profile-list ul li .icon {
  width: 2em;
}
@media (min-width: 600px) {
  .profile-list ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 0.5em;
  }
  .profile-list ul::after {
    left: -15%;
  }
}
@media (min-width: 1000px) {
  .profile-list ul {
    display: flex;
    gap: 1em;
  }
  .profile-list ul::after {
    height: 10px;
    width: 80%;
    left: 0;
    top: 80%;
  }
}
@media (min-width: 600px) {
  .profile-list {
    top: 0;
    align-self: start;
    justify-self: start;
    padding: 2em 4em;
  }
}
@media (min-width: 1000px) {
  .profile-list {
    width: 50vw;
    padding: 2em 0;
    justify-self: center;
  }
}

.profile-img {
  grid-area: image;
  position: relative;
  left: -10vw;
  top: -1.5vh;
}
@media (min-width: 600px) {
  .profile-img {
    left: 0;
    top: 0;
    align-self: center;
    justify-self: center;
    padding-inline: 3em;
  }
  .profile-img img {
    width: auto;
  }
}

/* FOOTER */
footer .grid {
  place-items: center;
}
footer .grid h1 {
  margin-bottom: 2.5rem;
}
footer .grid .form {
  display: grid;
  place-items: start;
}
footer .grid .form input {
  width: 200px;
  margin-bottom: 0.5rem;
  padding-block: 0.25em;
}
footer .grid .form textarea {
  width: 250px;
  height: 80px;
  margin-bottom: 1rem;
}
footer .grid .form button {
  place-self: center;
}
@media (min-width: 1000px) {
  footer .grid {
    display: flex;
    justify-content: space-evenly;
  }
  footer .grid h1 {
    position: relative;
  }
  footer .grid h1::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 10px;
    background-color: hsla(0, 0%, 16%, 0.15);
    top: -40%;
    left: 10%;
  }
  footer .grid .form input {
    width: 250px;
  }
  footer .grid .form textarea {
    width: 300px;
  }
  footer .grid .form button {
    place-self: start;
  }
}
footer .grid a {
  margin-top: 1.5em;
}/*# sourceMappingURL=main.css.map */